* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e9afe1;
  display: flex;
  height: 100vh;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow: hidden;
}
img {
  pointer-events: none;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 66%;
  max-width: 100%;

  aspect-ratio: 1.6;
  position: absolute;
  margin: auto;
  left: 0;
  right: 30px;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
}

.card:hover {
  transform: rotate(-5deg);
}

.card:hover .outside {
  transform: rotateY(-130deg);
}

.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}

.inside {
  background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
}

.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}

.front,
.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.front {
  background-color: #dcc5c5;
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
}

.outside p {
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 6px;
  color: #000046;
}

.inside h1 {
  font-size: 120px;
  line-height: 120px;
}

.main-sticker {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
  margin-top: -10px;
  margin-left: 45px;
  height: 72%;
  width: 72%;
  background-color: transparent;
}

.Text {
  position: absolute;
  display: flex;
  font-size: large;
  margin-top: -95%;
  font-style: italic;
  color: #7b180d;
  font-family: "cursive" "Lucida handwriting";
}

.hiee {
  font-size: calc(2vw + 3px);
  text-align: center;
  margin-top: 15%;
  color: #781a0c;
  font-style: italic;
  font-family: "cursive" "Lucida handwriting";
}

.front-sticker {
  display: flex;
  justify-content: center;
  height: 70%;
  width: 70%;
  background-color: transparent;
}

.back-sticker {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  height: 74%;
  width: 74%;
  background-color: transparent;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d5b55a00;
  color: black;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#noButton {
  position: absolute;
  margin-left: 150px;
}

#yesButton {
  position: absolute;
  margin-right: 150px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 115%;
  margin-left: 20px;
}

.btn {
  background-color: #ffb6c1;
  color: white;
  padding: 12px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
  body {
    height: 100vh;
  }
  .btn {
    padding: 10px 18px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
  .btn {
    padding: 15px 25px;
    font-size: 14px;
  }
}

/* CSS for Tablets */
@media only screen and (min-width: 768px) and (max-width: 1224px) {
  .btn {
    padding: 15px 25px;
    font-size: 14px;
  }
}

/* CSS for Mobile Devices */
@media only screen and (max-width: 768px) {
  .btn {
    padding: 12px 20px;
    margin: 30px;
    font-size: 13px;
  }
}

/* CSS for Mobile Devices in Landscape Orientation */
@media only screen and (max-width: 375px) {
  .btn {
    padding: 10px 16px;
    margin: 50px;
    font-size: 13px;
  }
}

/* CSS for Mobile Devices in Portrait Orientation */
@media only screen and (max-width: 320px) {
  .btn {
    padding: 8px 12px;
    margin: 70px;
    font-size: 13px;
  }
}
